.cell_container {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-spacing: 10;
}

.cell_container:hover{
    -fx-cursor: hand;
}

.cell_container HBox Label{
    -fx-text-fill: #000000;
}


.rejectOrder_icon_container {
    -fx-background-color: #132A13;
    -fx-alignment: center;
}
.rejectOrder_date_lbl {
    -fx-text-fill:#AAAAAA;
    -fx-font-weight: 700;
}

.rejectOrder_pAddress_lbl {
    -fx-text-fill:#000000;
    -fx-font-weight: 700;
}
.cell_container Line {
    -fx-stroke: #EEEEEE;
}
.rejectOrder_amount_lbl {
    -fx-text-fill:#132A13;
    -fx-background-radius: 2;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 5;
    -fx-font-weight: 700;
}